# -- Image settings.
image:
  # -- Image repository.
  name: giantswarm/kubernetes-event-exporter
  # -- Image tag. Defaults to `.Chart.AppVersion`.
  tag: ""
  # -- Image pull policy.
  pullPolicy: IfNotPresent
  # -- Overrides the image registry.
  registry: "gsoci.azurecr.io"

# -- Reasons for events to be exported.
watchReasons:
  - Upgrading
  - Upgraded
  - UpgradedControlPlane

# -- Pod Security Context.
podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
  seccompProfile:
    type: RuntimeDefault

# -- Container Security Context.
securityContext:
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
  allowPrivilegeEscalation: false
  seccompProfile:
    type: RuntimeDefault
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: true

# -- Management cluster the event exporter is running in.
managementCluster:
  # -- Management cluster name.
  name: ""
  # -- Customer the management cluster belongs to.
  customer: ""

# -- If the management cluster the event exporter is running in is a testing environment.
testingEnvironment: false

# -- Provider of the management cluster the event exporter is running in.
provider:
  # -- Provider kind.
  kind: ""

# -- Slack settings.
slack:
  # -- DEPRECATED: Slack webhook URL. Will be removed in a future release. Please use token and channel instead.
  webhook: ""
  # -- Slack channel to post to.
  channel: ""
  # -- Slack token.
  token: ""
  # -- Enable persistence for Slack threads.
  cacheEnabled: true

# -- Grafana settings.
grafana:
  # -- Grafana authentication token.
  token: ""

# -- Environment variables for the event exporter container.
env: []
# Example for proxy configuration:
# env:
#   - name: NO_PROXY
#     value: "172.31.0.1,.cluster.local.,.cluster.local,.svc"
#   - name: HTTPS_PROXY
#     valueFrom:
#       secretKeyRef:
#         name: proxysocks-on-avocet
#         key: proxyUrl
#   - name: HTTP_PROXY
#     valueFrom:
#       secretKeyRef:
#         name: proxysocks-on-avocet
#         key: proxyUrl

# -- Vertical Pod Autoscaler settings.
verticalPodAutoscaler:
  # -- If Vertical Pod Autoscaler is enabled.
  enabled: true
